*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    padding:0;
    margin: 0;
    font-family: "Jacques Francois";
}
                                  /* NAVIGATION CSS */
.navbar{
width: 100%;
background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 6%;
    padding-right: 6%;
    font-weight: bold;
}

.logoimage{
    width:  80px;
    height: 80px;

}

.logo h2 a{
    font-size: 32px;
    color:black;
}

.logo:hover{
    color: green;
    cursor: pointer;
}
span{
color: green;
}

nav ul li{
list-style-type: none;
display: inline-block;
padding:10px 20px ;
font-size: 20px;
}
nav ul li a{
color: black;
text-decoration: none;
font-weight: bold;
}
nav ul li a:hover{
color: green;
transition: ease .3s;
}
button{
    border: none;
    background-color: rgb(8, 9, 8);
    padding: 12px 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

                                /* FIRST CONTAINER CSS */

.home-container{
    display: flex;
    width: 100%;
}
.home-container1{
    position: relative;
    display: flex;
    width: 100%;
}

.picture1{
    top: 10px;
    left: 10px;
    color: white;
    width: 100%;
}
.picture1 p{
    position: absolute;
    top: 100px;
    left: 40px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    padding: 5px;
}

.picture2{
    display: flex;
    flex-direction: column;
}

.getStated_btn{
    position: absolute;
    bottom: 60px;
    left: 1000px;
    z-index: 1;
    margin: 2px;
}
p{
    font-size: 20px;
    font-weight: bold;

}
.home__image1{
    height: 600px;
    width: 100%;
}
.home__image2{
height: 300px;
width: 100%;
}
.home__image3{
    height: 300px;
    width: 100%;
}
                                    /* THE SECOND CONTAINER STARTS */


.home-container2{
    display: flex;
    padding: 3px;
    margin-left: 8px;
    margin-top: 70px;
    justify-content: space-evenly;
    font-size: 18px;
    align-content: center;
}
.home-container2 p{
    margin-top: 15px;
}

.content-box1{
    background-color: rgb(128, 149, 128);
    padding: 12px 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: .4s;
}
.content-box1:hover{
    background-color: rgb(84, 124, 83);
    border: 2px solid black;

}

.content-box2{
    background-color: rgb(128, 149, 128);
    padding: 12px 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: .4s;
}
.content-box2:hover{
    background-color: rgb(84, 124, 83);
    border: 2px solid black;

}

.content-box3{
    background-color: rgb(128, 149, 128);
    padding: 12px 30px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: .4s;
}
.content-box3:hover{
    background-color: rgb(84, 124, 83);
    border: 2px solid black;

}

            /* HOME CONTAINER 3 CSS */
.home-container3{
    padding: 5px;
}
.services-container{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 5px;
    font-size: 18px;
    background-color: white;
    /* border: 2px solid  black; */
    ;

}
.serviceh1 {
    color: black;
    text-align: center;
    margin-top: 40px;
}

.carousel-inner {
    display: flex;
    justify-content: space-evenly;
}

.service-content1, .service-content2, .service-content3,.service-content4
{
    justify-content: space-evenly;
    height: 400px;
    margin-top: 25px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    flex: 1;
    margin: 50px;
    text-align: center;
}


.imageservice1, .imageservice2, .imageservice3, .imageservice4
{
    width: 100% ;
    height: 100%;
}

                        /* HOME CONTAINER 4 */

.Card-container{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 5px;
    font-size: 18px;
    background-color: white;
    /* border: 2px solid  black; */
    ;

}
.Cardh1 {
    color: black;
    text-align: center;
    margin-top: 40px;
}

.product-Card1{
    background-color: rgb(246, 246, 246);
    height: 475px;
    width: 425px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.001);
    padding:20px;
    margin-top: 50px;
    margin-left: 60px;
    text-align: center;
    display: inline-block;
}

.product-Card1 .Cardimg1{
    width: 350px ;
    height: 300px;
    border-radius: 5%;
    margin-bottom: 10px;
}

.product-Card1 .Card-title, .Card-price  {
    margin: 0;
    color: rgb(51, 51, 51);
    margin: 5px;
}












